<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zn.gmall.order.mapper.OrderInfoMapper">

    <resultMap id="orderInfoMap" type="com.zn.gmall.model.order.OrderInfo" autoMapping="true">
        <id property="id" column="id"/>
        <!--一对多-->
        <collection property="orderDetailList" ofType="com.zn.gmall.model.order.OrderDetail" autoMapping="true"
                    column="{orderId = id}"
                    select="selectOrderDetailByOrderId">
        </collection>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="orderColumns">
        SELECT id,consignee,consignee_tel,total_amount,order_status,user_id,payment_way,delivery_address,order_comment,out_trade_no,trade_body,create_time,expire_time,process_status,tracking_no,parent_order_id,img_url
    </sql>

    <sql id="orderDetailColumns">
        SELECT id,order_id,sku_id,sku_name,img_url,order_price,sku_num,create_time,source_type,source_id,split_total_amount,split_activity_amount,split_coupon_amount
    </sql>

    <select id="selectPageByUserId" resultMap="orderInfoMap">
        <include refid="orderColumns"/>
        FROM order_info
        WHERE user_id = #{userId}
        AND order_status NOT IN('CLOSED', 'SPLIT')
        AND is_deleted = 0
        ORDER BY create_time DESC
    </select>

    <select id="selectOrderDetailByOrderId" resultType="com.zn.gmall.model.order.OrderDetail">
        <include refid="orderDetailColumns"/>
        FROM order_detail
        WHERE order_id = #{orderId}
        AND is_deleted = 0
        ORDER BY create_time DESC
    </select>

</mapper>
